*{
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

.info {
    display: flex;
    position: relative;
    left: 34%;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 2px solid;
    border-color: rgb(130, 17, 0);
    align-items: center;
}

p {
    padding: 10px;
    display: inline-block;
    width: 90%;
    
}

h1{
    padding: 10px;
}