*{
    margin: 0;
    padding: 0;
}

.footer {
    position: relative;
    background-color: rgb(130, 17, 0);
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: auto;
    flex-grow: 1;
    padding: 10px 20px;
    width: 100%;
    height: 15px;
}
