*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(130, 17, 0);
    display: flex;
    justify-content: left;
    position: absolute;
    margin: 0;
    gap: 22rem;      
    padding: 10px 10px;  
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
}

nav {
    display: flex;
    gap: 5rem;
    padding-top: 50px;
}

a {
    color: white;
}